<!doctype html>
<html> 
  <body>
    <p>Adult squirrel detected: {{ adult_squirrel  }}</p>
    <p>Juvenile squirrel detected: {{ young_squirrel }}</p>
    <p>{{ approaching_squirrel }} dangerous squirrels have approached humans!</p>
    <p>We found {{ recent }} squirrels since the first day of 2019!</p>
    <p>{{ on_ground}} squirrels were found on ground.</p>
    <p>{{ above_ground}} squirrels were found above ground.</p>
    <p>Number of squirrels found in AM shift: {{AM_squirrel}}</p>
    <p>Number of squirrels found in PM shift: {{ PM_squirrel }}</p>
    <br>
    <p>Don’t mess with the squirrels!</p>
  </body>
</html>
